$base-color:#494949;
$active-color:#B8DA40;

@import 'sencha-touch/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
//@include sencha-sheet;
//@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
//@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
//@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;

// Your custom code goes here...
@include pictos-iconmask('list');

.clsHome{
	background-color: #F1F1F1;
	position: absolute !important;
	width: 100%;
	height: 100%;

	text-align:center;
	padding: 10px;
}

.clsHome #logo-alsacreations-com{
	margin-bottom: 20px;
	margin-top: 40px;
}

.clsHome h1{
	font-weight: bold;
	font-size: 1.1em;
	line-height: 18px;
	color: #474747;
	margin-bottom: 30px;
}

.clsHome p{
	font-size: 0.8em;
	color: #767676;
}

.x-html{
	width:320px;
}

.red{
	color:red;
}

h1{

}